.edit-registration-fieldset{
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.edit-registration-fieldset:hover{
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(145, 143, 143);
    border-radius: 2px;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.registration-div-info {
    display: flex;
    flex-direction: row;
  }
  
.registration-btn-edit {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    flex: 1;
    margin-bottom: 20px;
}
  
  .remodal {
      color: #484a51 !important;
  }
  .remodal-close {
      left: auto !important; 
      right: 5px !important;
  }
  .remodal-title {
      color: #484a51 !important;
  }
  .registration-header {
    display: none !important;
  }
  .registration-header-check {
    background-color: #42515e;
    color: #fff;
    padding: 0.75rem;
    border-radius: 2px;
  }

.btn-registration {
    background-color: #20873B !important;
    border: 1px solid #20873B !important;
    margin-bottom: 5px;
}

.btn-registration:hover {
    background-color: #07a330 !important;
    border: 1px solid #20873B !important;
    margin: 5px;
}

.registration-header-check > a {
    float: right;
}

@media screen and (max-width: 428px) {
    .registration-header-check {
        display: flex;
        flex-direction: column;
        padding: 8px;
        font-size: 24px;
    }
    
}
.edt-registration-btns-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pdf-report-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.project-buttons-edit{
    display: flex;
    justify-content: unset;
}
.registration-form-content-input{
    justify-content: space-between;
}
.registration-form-content-input > div{
    padding-right: 15px;
}
.registration-form-content {
    width: 100% !important;
}
.project-buttons-edit {
    display: flex;
    justify-content: unset;
}
.registration-form-content-input {
    display: flex;
    flex: 1;
}
.registration-form .input-text {
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    box-sizing: border-box;
    width: 70%;
}
.btn-access-opportunity {
    color: #ffffff;
    background: #8C9EFF;
    flex-direction: row;
    align-items: center;
}