.modal-border-danger {
    border-top: 8px solid #C62D2D;
}

.text-body-modal-border-danger {
    color: #C62D2D;
    font-family: Arial;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
}
.text-title-modal-border-danger {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
    justify-content: center;
}
.info-erros-required-fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.remodal-content-body {
    display: flex;
    flex-direction: column;
    color: #726d6d;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.25px;
    font-weight: bold;
}
.sub-title-remodal{
    font-family: sans-serif;
    font-weight: 100;
    justify-content: flex-start;
    display: flex;
}